# Drupal
/web/
/vendor/
composer.json
composer.lock
.editorconfig
.gitattributes

# DrupalPod
.drupalpod_initiated
src/**/node_modules/
src/**/package-lock.json
src/**/out/
src/**/*.vsix
src/**/.vscode-test/
drush/
.ddev/config.gitpod.yaml
