# Drupal
web/
vendor/
composer.json
composer.lock
.editorconfig
.gitattributes

# DrupalPod
.gitmodules
repos/
repos/drupalpod-ext/node_modules/
repos/drupalpod-ext/package-lock.json
repos/drupalpod-ext/out/
repos/drupalpod-ext/*.vsix
repos/drupalpod-ext/.vscode-test/

# Ddev-Gitpod
.ddev/docker-compose.host-docker-internal.yaml